                </div>
                <footer class="static-layout__footer"></footer>
            </section>
        </div>
    </div>
    <script src="/assets/build/{{ realm }}.js?{{ "web/assets/build/#{realm}.js" | md5sum }}"></script>
</body>
</html>
