                </div>
                <footer class="static-layout__footer"></footer>
            </section>
        </div>
    </div>
    <script src="/assets/build/web.js"></script>
</body>
</html>
