<v-dialog v-model="contactModal" max-width="500px">
    <v-card id="modal-contact" class="pa-5">
        <h2 class="form-title">Contact</h2>
        <div>
            <p>You can contact me if you have suggestions or problems.</p>
            <p>If you find a bug please send a precise description of it.</p>
        </div>
        <div class="form-wrapper form-500">
            <form id="form-contact" class="form-contact" id="contact" method="post" name="contact_form" ref="contactForm" @keyup.enter="contact">
                <input type="hidden" name="session_token" value="{{ session_token }}" v-model="session_token" ref="contact_session_token" />
                <v-text-field
                    label="Your email"
                    name="contactEmail"
                    id="contact-email"
                    value=""
                    class="text-input"
                    v-model="contactEmail"
                    required
                >
                </v-text-field>
                <v-text-field
                    label="Your message"
                    color="secondary"
                    name="contactMessage"
                    id="contact-message"
                    value=""
                    v-model="contactMessage"
                    multi-line
                required
                >
                </v-text-field>

                <v-btn id="button-validate-contact" @click="contact">Send</v-btn>
            </form>
        </div>
    </v-card>
</v-dialog>

<v-dialog  v-model="confirmContactModal" max-width="400px">
    <v-card id="modal-result-contact" class="pa-5">
        <p>Your message has been sent.</p>
    </v-card>
</v-dialog>
