<v-dialog v-model="loginModal" max-width="500px">
    <v-card id="modal-login" class="pa-5">
        <h1 class="form-title">Login</h1>
        <div class="form-wrapper form-500">
            <form id="form-signin" class="form-signin" id="login" method="post" name="login_form" action="/auth/login" ref="loginForm" @keyup.enter="login">
                <input type="hidden" name="session_token" value="{{ session_token }}" v-model="session_token" ref="login_session_token" />
                <v-text-field
                    label="Your email"
                    name="loginEmail"
                    id="loginEmail"
                    value=""
                    class="text-input"
                    v-model="loginEmail"
                    required
                >
                </v-text-field>
                <v-text-field
                    label="Your password"
                    name="loginPass"
                    id="loginPass"
                    :append-icon="loginPassVisible ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (loginPassVisible = !loginPassVisible)"
                    :type="loginPassVisible ? 'text' : 'password'"
                    v-model="loginPass"
                required
                >
                </v-text-field>

                <v-btn id="submit-login" @click="login">Sign In</v-btn>
                <a @click="resetModal = true; loginModal = false" title="forgot password">I forgot my password</a>
            </form>
        </div>
    </v-card>
</v-dialog>
