<v-dialog v-model="registerModal" max-width="700px">
    <v-card id="modal-register" class="pa-5">
        <h2 class="form-title">Register</h2>
        <div>Your information are safe here. Nothing will be divulged.</div>
        <div class="form-wrapper form-500">
            <form class="form-register" id="registerForm" method="post" name="register_form" action="/auth/register" ref="registerForm" @keyup.enter="register">
                <input type="hidden" name="session_token" value="{{ session_token }}" v-model="session_token" ref="register_session_token" />
                <v-text-field
                    label="Your email"
                    name="userEmail"
                    id="userEmail"
                    value=""
                    class="text-input"
                    v-model="userEmail"
                    required
                >
                </v-text-field>
                <v-text-field
                    label="Your password"
                    name="userPassword"
                    id="userPassword"
                    :append-icon="userPasswordVisible ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (userPasswordVisible = !userPasswordVisible)"
                    :type="userPasswordVisible ? 'text' : 'password'"
                    v-model="userPassword"
                    required
                >
                </v-text-field>
                <v-text-field
                    label="Confirm your password"
                    name="userPasswordConfirm"
                    id="userPasswordConfirm"
                    :append-icon="userPasswordConfirm ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (userPasswordConfirmVisible = !userPasswordConfirmVisible)"
                    :type="userPasswordConfirmVisible ? 'text' : 'password'"
                    v-model="userPasswordConfirm"
                    required
                >
                </v-text-field>
                <v-checkbox
                    v-model="userNewsletter"
                    label="I want the nice newsletter (without spam)!"
                    name="userNewsletter"
                    type="checkbox"
                ></v-checkbox>
                <v-btn @click="register">register</v-btn>
            </form>
        </div>
    </v-card>
</v-dialog>

<v-dialog v-model="confirmModal" max-width="400px">
    <v-card class="pa-5">
        <p>To complete your subscription please confirm your email address by clicking on the link in the email we just send you.</p>
    </v-card>
</v-dialog>
