<v-dialog v-model="newPasswordModal" max-width="700px">
    <v-card class="pa-5">
        <h2 class="form-title">Change your password</h2>
        <div class="form-wrapper form-500">
            <form class="form-new-password" id="newPasswordForm" method="post" name="new_passorwd_form" action="/auth/password" ref="newPasswordForm" @keyup.enter="newPassword">
                <input type="hidden" name="session_token" value="{{ session_token }}" v-model="session_token" ref="new_password_session_token" />
                <v-text-field
                    label="Your new password"
                    name="newPassword"
                    id="newPassword"
                    :append-icon="newPasswordVisible ? 'visibility' : 'visibility_off'"
                    @click:append="() => (newPasswordVisible = !newPasswordVisible)"
                    :type="newPasswordVisible ? 'text' : 'password'"
                    v-model="newPassword"
                    required
                >
                </v-text-field>
                <v-text-field
                    label="Confirm your new password"
                    name="newPasswordConfirm"
                    id="newPasswordConfirm"
                    :append-icon="newPasswordConfirmVisible ? 'visibility' : 'visibility_off'"
                    @click:append="() => (newPasswordConfirmVisible = !newPasswordConfirmVisible)"
                    :type="newPasswordConfirmVisible ? 'text' : 'password'"
                    v-model="newPasswordConfirm"
                    required
                >
                </v-text-field>
                <input type="hidden" value="{{ resetToken }}" id="resetTokenField" />
                <v-btn @click="changePassword">Change</v-btn>
            </form>
        </div>
    </v-card>
</v-dialog>

<v-dialog v-model="confirmResetModal" max-width="400px">
    <v-card class="pa-5">
        <p>An email have been sent to you. You can click on the link in the email in order to change your password.</p>
    </v-card>
</v-dialog>
