<v-dialog v-model="resetModal" max-width="500px">
    <v-card class="pa-5">
        <h1 class="form-title">Reset Password</h1>
        <div class="form-wrapper form-500">
            <form class="form-signin" id="reset_password" method="post" name="reset_password" action="/auth/login" ref="resetPassword" @keyup.enter="resetPassword">
                <input type="hidden" name="session_token" value="{{ session_token }}" v-model="session_token" ref="reset_password_session_token" />
                <v-text-field
                    label="Your email"
                    name="resetPasswordEmail"
                    id="resetPasswordEmail"
                    value=""
                    class="text-input"
                    v-model="resetPasswordEmail"
                    required
                >
                </v-text-field>

                <v-btn @click="resetPassword">Reset password</v-btn>
            </form>
        </div>
    </v-card>
</v-dialog>

<v-dialog v-model="confirmResetModal" max-width="400px">
    <v-card class="pa-5">
        <p>We just send you an email.</p>
        <p>Click on the link in the email to change your password.</p>
    </v-card>
</v-dialog>
