stages:
  - test

services:
  - name: mariadb:latest
  alias: db

test:
  stage: build
  image: php:7.2
  variables:
    MYSQL_DATABASE: sharetoall
    MYSQL_USER: sharetoall
    MYSQL_PASSWORD: sharetoall
    MYSQL_ROOT_PASSWORD: sharetoall
    MYSQL_HOST: db
  before_script:
    - bash ci/docker_install.sh > /dev/null
  script:
    - bin/phing build-database
    - phpunit --configuration phpunit.xml
