# cache:
#   key: "$CI_BUILD_REF_NAME php:7.2"

stages:
  - test
  - release
  - deploy

services:
  - name: mariadb:latest
    alias: db

test:
  stage: test
  image: php:7.2
  variables:
    MYSQL_DATABASE: sharetoall
    MYSQL_USER: sharetoall
    MYSQL_PASSWORD: sharetoall
    MYSQL_ROOT_PASSWORD: sharetoall
    MYSQL_HOST: db
  before_script:
    - bash ci/docker_install.sh > /dev/null
    - source config.env
    # - "touch config.env"
    # - "echo ${PARAMETERS} > config.env"
  script:
    - bin/phing build-database
    - phpunit --configuration phpunit.xml

release:
  stage: release
  image: gitlab/dind:latest
  only:
    - "master"
    - "develop"
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: "overlay"
  before_script:
    - docker version
    - "docker info"
    - "docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY"
  script:
    - "docker-compose -f docker-compose-release.yml build --pull"
    - "docker-compose -f docker-compose-release.yml push"
  after_script:
    - "docker logout ${CI_REGISTRY}"

deploy:
  stage: deploy
  image: gitlab/dind:latest
  only:
    - "master"
  environment: production
  services:
    - docker:dind
  before_script:
    - mkdir -p ~/.ssh
    - echo "$DEPLOY_SERVER_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - eval "$(ssh-agent -s)"
    - ssh-add ~/.ssh/id_rsa
    - ssh-keyscan -H $DEPLOYMENT_SERVER_IP >> ~/.ssh/known_hosts
  script:
    - ssh hypnos@$DEPLOYMENT_SERVER_IP "docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}; cd /usr/share/nginx/html/sharetoall; docker-compose -f docker-compose.prod.yml stop; docker pull ${CI_REGISTRY}/${CI_PROJECT_PATH}:php-latest;docker pull ${CI_REGISTRY}/${CI_PROJECT_PATH}:redis-latest; docker pull ${CI_REGISTRY}/${CI_PROJECT_PATH}:web-latest; docker-compose -f docker-compose.prod.yml up -d"
    - bin/phing upgrade-databse
  after_script:
    - "docker logout ${CI_REGISTRY}"
