image: php:7.2

services:
- name: mariadb:latest
  alias: db

variables:
  MYSQL_DATABASE: sharetoall
  MYSQL_USER: sharetoall
  MYSQL_PASSWORD: sharetoall
  MYSQL_ROOT_PASSWORD: sharetoall
  MYSQL_HOST: db

before_script:
# Install dependencies
- bash ci/docker_install.sh > /dev/null

test:sharetoall:
  script:
  - bin/phing build-database
  - phpunit --configuration phpunit.xml
