cache:
  key: "$CI_BUILD_REF_NAME php:7.2"

stages:
  - test

services:
- name: mariadb:latest
  alias: db

test:
  stage: test
  image: php:7.2
  variables:
    MYSQL_DATABASE: sharetoall
    MYSQL_USER: sharetoall
    MYSQL_PASSWORD: sharetoall
    MYSQL_ROOT_PASSWORD: sharetoall
    MYSQL_HOST: db
  before_script:
    - bash ci/docker_install.sh > /dev/null
  script:
    - bin/phing build-database
    - phpunit --configuration phpunit.xml

release:
  stage: release
  image: docker:latest
  only:
    - "master"
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: "overlay"
  before_script:
    - docker version
    - "docker info"
    - "docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY"
  script:
    - "docker build -t ${CI_REGISTRY}/${CI_PROJECT_PATH}:latest --pull ."
    - "docker push ${CI_REGISTRY}/${CI_PROJECT_PATH}:latest"
  after_script:
    - "docker logout ${CI_REGISTRY}"
