{% extends 'root.twig' %}

{% block content %}

<div id="app">
    <div v-if="!$data" class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
    <div v-cloak>
        <v-app light>
            <v-toolbar dense app clipped-left fixed>
                <h1><a href="/" class="black--text" title="home"><img src="/assets/img/logo.png">Sharetoall <small>beta</small></a></h1>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn flat color="secondary" v-if="connected" href="/sharetoall">Dashboard</v-btn>
                    <v-btn flat color="secondary" v-if="connected" @click.native="logout()">Logout</v-btn>
                    <v-btn flat color="secondary" v-if="!connected" @click.native="loginModal = true">Login</v-btn>
                    <v-btn flat color="secondary" v-if="!connected" @click.native="registerModal = true">Register</v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-content>
                <v-flex xs4 offset-xs4 id="about-container" class="pa-3 mt-3">
                    <h1>Why Sharetoall?</h1>
                    <p>Sharing is caring, right?</p>

                    <p>I love to share great ideas for sure! Sharing about my passions, my experiences, sharing great content I find on Internet.<br />

                    <p>You would think that I love social media?</p>
                    <p>Well, yes and no.</p>

                    <p>I love them since you can communicate with the whole planet in one click.</p>
                    <p>I hate them because they are designed to be totally addictive. They are conceived for you to lose control.<br />
                    How many time I went on social media for hours without really sharing or learning anything on it?</p>

                    <p>Sharetoall is my answer to those frustrations. A free and simple plateform to share on social media without any hooks.</p>

                    <p>More and more functionalities will be added keeping this goal in mind.</p>

                    <p>Since I work on this website on my free time, any donation are welcome! It will help me bringing this website forward.</p>

                    <p>What is better than feeling useful?</p>
                </v-flex>
                {% include 'web/modals/login.twig' %}
                {% include 'web/modals/resetPassword.twig' %}
                {% include 'web/modals/register.twig' %}
            </v-content>
        </v-app>
    </div>
</div>
{% endblock %}
