<v-footer>
    <v-layout row wrap align-center>
        <v-flex xs12>
            <div class="ml-3">
                <a class="primary--text" href="/policy">Privacy policy</a> - <a class="primary--text" href="policy/terms">Terms of service</a>
            </div>
        </v-flex>
    </v-layout>
</v-footer>
