{% extends 'root.twig' %}

{% block content %}

<div id="app">
    <div v-if="!$data" class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
    <div v-cloak>
        <v-app light>
            <v-toolbar dense app clipped-left fixed>
                <h1><a href="/" class="black--text" title="home"><img class="hidden-xs-only" src="/assets/img/logo.png">Sharetoall <small class="hidden-xs-only">beta</small></a></h1>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn flat color="secondary" v-if="connected" href="/sharetoall">Dashboard</v-btn>
                    <v-btn flat color="secondary" class="hidden-xs-only" v-if="connected" @click.native="logout()">Logout</v-btn>
                    <v-btn flat color="secondary" v-if="!connected" @click.native="loginModal = true">Login</v-btn>
                    <v-btn flat color="secondary" v-if="!connected" @click.native="registerModal = true">Register</v-btn>
                    <v-btn flat color="secondary"  class="hidden-xs-only" href="index/about">About</v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-content>
                <section>
                    <v-flex class="band primary">
                        <v-layout
                        column
                        align-center
                        justify-center
                        class="white--text band"
                        >
                        <h1 class="white--text mb-2 display-1 text-xs-center">Sharing for free on social media</h1>
                        <div class="subheading mb-3 text-xs-center">A simple and straightforward way</div>
                        <v-btn
                            class="accent white--text subheading mt-5"
                            dark
                            large
                            v-if="!connected" @click.native="registerModal = true"
                        >
                        Quick registration
                        </v-btn>
                        </v-layout>
                    </v-flex>
                </section>

                <section>
                    <v-layout
                        column
                        wrap
                        class="my-5"
                        align-center
                    >
                        <v-flex xs12>
                            <v-container grid-list-xl>
                                <v-layout row wrap>
                                    <v-flex xs12 md4>
                                        <v-card class="elevation-0 transparent">
                                            <v-card-text class="text-xs-center">
                                                <v-icon x-large class="primary--text text--lighten-2">question_answer</v-icon>
                                            </v-card-text>

                                            <v-card-title primary-title class="layout justify-center">
                                                <div class="headline text-xs-center">What is sharetoall?</div>
                                            </v-card-title>

                                            <v-card-text class="text-xs-center">
                                                <p>Sharetoall allows you to share on multiple social media at once.</p>
                                                <p>You can share ideas and knowledge without procrastinating on social media.</p>
                                                <p>Write your message and share it, it's that simple!</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-flex>

                                    <v-flex xs12 md4>
                                        <v-card class="elevation-0 transparent">
                                            <v-card-text class="text-xs-center">
                                                <v-icon x-large class="primary--text text--lighten-2">sentiment_very_satisfied</v-icon>
                                            </v-card-text>

                                            <v-card-title primary-title class="layout justify-center">
                                                <div class="headline text-xs-center">Sharing for free</div>
                                            </v-card-title>

                                            <v-card-text class="text-xs-center">
                                                <p>This website is free and will stay free.</p>
                                                <p>If you want to support me, consider making a donation.</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-flex>

                                    <v-flex xs12 md4>
                                        <v-card class="elevation-0 transparent">
                                            <v-card-text class="text-xs-center">
                                                <v-icon x-large class="primary--text text--lighten-2">lock_outline</v-icon>
                                            </v-card-text>

                                            <v-card-title primary-title class="layout justify-center">
                                                <div class="headline">Safety for all your data</div>
                                            </v-card-title>

                                            <v-card-text class="text-xs-center">
                                                <p>Your data won't be sold to anybody.
                                                <p>The content shared on social media won't be saved on this website.</p>

                                                <p>You decide what you share to whom.</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-flex>
                    </v-layout>
                </section>

                <section>
                    <v-flex class="secondary">
                        <v-layout column align-center justify-center class ="band">
                            <div class="headline white--text mb-3 text-xs-center">New functionalities</div>
                            <div class="white--text text-xs-center">
                            <p>Subscribe to know what will happen next!</p>
                            <p>No spam, I promise</p>
                            <div class="form-wrapper">
                                <form class="form-signin" id="newsletter_email" method="post" name="newsletter_email" ref="newsletter_email" @keyup.enter="newsletterEmail">
                                    <input type="hidden" name="session_token" value="{{ session_token }}" v-model="session_token" ref="newsletter_session_token" />
                                    <v-text-field
                                        label="Your email"
                                        name="newsletterEmail"
                                        id="newsletterEmail"
                                        color="white"
                                        value=""
                                        v-model="newsletterEmail"
                                        box
                                        required
                                    >
                                    </v-text-field>

                                    <v-btn @click="newsletter">I subscribe!</v-btn>
                                </form>
                            </div>
                        </v-layout>
                    </v-flex>
                </section>

                <v-dialog v-model="confirmNewsletterModal" max-width="400px">
                    <v-card class="pa-5">
                        <p>You have subscribed successfully to the newsletter</p>
                    </v-card>
                </v-dialog>

                {% include 'web/modals/login.twig' %}
                {% include 'web/modals/resetPassword.twig' %}
                {% include 'web/modals/register.twig' %}

                {% if resetToken %}
                    {% include 'web/modals/resetPasswordForm.twig' %}
                {% endif %}
            </v-content>

        </v-app>
    </div>
</div>
{% endblock %}
