{% extends 'root.twig' %}

{% block content %}

<div id="app">
    <div v-if="!$data" class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
    <div v-cloak>
        <v-app light>
            <v-toolbar dense app clipped-left fixed>
                <h1><a href="/" class="black--text" title="home"><img class="hidden-xs-only" src="/assets/img/logo.png">Share<span class="accent-color">to</span>all<small class="beta hidden-xs-only">beta</small></a></h1>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn flat color="secondary" id="button-dashboard" v-if="connected" href="/sharetoall">Dashboard</v-btn>
                    <v-btn flat color="secondary" id="button-logout" class="hidden-xs-only" v-if="connected" @click.native="logout()">Logout</v-btn>
                    <v-btn flat color="secondary" id="button-login" v-if="!connected" @click.native="loginModal = true">Login</v-btn>
                    <v-btn flat color="secondary" id="button-register" v-if="!connected" @click.native="registerModal = true">Registration</v-btn>
                    <v-btn flat color="secondary" id="button-contact"  @click.native="contactModal = true">Contact</v-btn>
                    <v-btn flat color="secondary" id="button-about" class="hidden-xs-only" href="about">About</v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-content>
                <section>
                    <v-flex class="band primary">
                        <v-layout
                        column
                        align-center
                        justify-center
                        class="white--text band"
                        >
                        <h1 class="white--text mb-2 mt-5 display-1 text-xs-center">A free social media management tool</h1>
                        <h2 class="subheading mb-3 text-xs-center">The simplest way to share as much as you like</h2>
                        <v-btn
                            class="accent white--text subheading mt-5"
                            dark
                            large
                            v-if="!connected" @click.native="registerModal = true"
                        >
                            Quick registration
                        </v-btn>

                        <div class="ma-3 pa-3 display-1">
                            <img src="assets/img/dashboard.png" />
                        </div>

                        </v-layout>
                    </v-flex>
                </section>

                <section>
                    <v-layout
                        column
                        wrap
                        class="my-5"
                        align-center
                    >
                        <v-flex xs12>
                            <v-container grid-list-xl>
                                <v-layout row wrap>
                                    <v-flex xs12 md4>
                                        <v-card class="elevation-0 transparent">
                                            <v-card-text class="text-xs-center">
                                                <v-icon x-large class="primary--text ">question_answer</v-icon>
                                            </v-card-text>

                                            <v-card-title primary-title class="layout justify-center">
                                                <h2 class="headline text-xs-center">What is Sharetoall?</h2>
                                            </v-card-title>

                                            <v-card-text class="text-xs-center">
                                                <p> Tired to procrastinate on social media?  </p>
                                                <p> You search a free and easy way to manage them?  </p>
                                                <p>Sharetoall allows you to send messages on Twitter and Linkedin.</p>
                                                <p>Many more functionalities will come soon for an effective social media management experience!</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-flex>

                                    <v-flex xs12 md4>
                                        <v-card class="elevation-0 transparent">
                                            <v-card-text class="text-xs-center">
                                                <v-icon x-large class="primary--text ">sentiment_very_satisfied</v-icon>
                                            </v-card-text>

                                            <v-card-title primary-title class="layout justify-center">
                                                <h2 class="headline text-xs-center">Donation based</h2>
                                            </v-card-title>

                                            <v-card-text class="text-xs-center">
                                                <p>Sharetoall counts on donations to finance itself.</p>
                                                <p>Please consider it if you use and want the service to grow.</p>

                                                <v-btn
                                                    href="https://www.patreon.com/sharetoall"
                                                    class="accent white--text subheading mt-5"
                                                    dark
                                                    large>
                                                    Become a Patron
                                                </v-btn>
                                            </v-card-text>
                                        </v-card>
                                    </v-flex>

                                    <v-flex xs12 md4>
                                        <v-card class="elevation-0 transparent">
                                            <v-card-text class="text-xs-center">
                                                <v-icon x-large class="primary--text">notifications_off</v-icon>
                                            </v-card-text>

                                            <v-card-title primary-title class="layout justify-center">
                                                <h2 class="headline">No intrusions, ads or hidden tricks</h2>
                                            </v-card-title>

                                            <v-card-text class="text-xs-center">
                                                <p>This website is free of advertisements.</p>
                                                <p>You will never be bothered by notifications.</p>
                                                <p>No mention to Sharetoall will be made for every message you share on social media.</p>
                                                <p>I will never monetize the messages you share or any of your data.</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-flex>

                                </v-layout>
                            </v-container>
                        </v-flex>
                    </v-layout>
                </section>

                <section>
                    <v-flex class="secondary">
                        <v-layout column align-center justify-center class ="band">
                            <div class="headline white--text mb-3 text-xs-center">New functionalities</div>
                            <div class="white--text text-xs-center">
                            <p>Subscribe to know how sharetoall will help you manage your social media in the future.</p>
                            <p>I don't like spam so I won't spam you.</p>
                            <div class="form-wrapper">
                                <form class="form-signin" id="newsletter_email" method="post" name="newsletter_email" ref="newsletter_email" @keyup.enter="newsletterEmail">
                                    <input type="hidden" name="session_token" value="{{ session_token }}" v-model="session_token" ref="newsletter_session_token" />
                                    <v-text-field
                                        label="Your email"
                                        name="newsletterEmail"
                                        id="newsletterEmail"
                                        color="white"
                                        value=""
                                        v-model="newsletterEmail"
                                        box
                                        required
                                    >
                                    </v-text-field>

                                    <v-btn @click="newsletter">I subscribe!</v-btn>
                                </form>
                            </div>
                        </v-layout>
                    </v-flex>
                </section>

                <v-dialog v-model="confirmNewsletterModal" max-width="400px">
                    <v-card class="pa-5">
                        <p>You have subscribed successfully to the newsletter</p>
                    </v-card>
                </v-dialog>

                {% include 'web/index/footer.twig' %}
                <!-- Include the modals -->
                {% include 'web/modals/login.twig' %}
                {% include 'web/modals/resetPassword.twig' %}
                {% include 'web/modals/register.twig' %}
                {% include 'web/modals/contact.twig' %}

                {% if resetToken %}
                    {% include 'web/modals/resetPasswordForm.twig' %}
                {% endif %}
            </v-content>

        </v-app>
    </div>
</div>

{% endblock %}
