imports:
    - { resource: parameters.yml }
    - { resource: common.yml }
    - { resource: exceptions.yml }
    - { resource: rest.yml }

parameters:
    app.name: "Sharetoall"

services:
    app:
        class: Silex\Application

    service.session:
        class: App\Service\Session
        arguments: [ "@cache", "@request", "@model.user" ]
    request:
        class: Symfony\Component\HttpFoundation\Request
        factory: [ 'Symfony\Component\HttpFoundation\Request', createFromGlobals ]

    router.rest:
        class: App\Router\RestRouter
        arguments: [ "@app", "@service_container" ]
        calls:
            - [ setSession, [ "@service.session" ] ]

    router.twig:
        class: App\Router\TwigRouter
        arguments: [ "@app", "@service_container", "@twig" ]
        calls:
            - [ setSession, [ "@service.session" ] ]

    router.error:
        class: App\Router\ErrorRouter
        arguments: [ "@app", "@twig", %exception.codes%, %exception.messages%, %app.debug% ]

    controller.web.index:
        class: App\Controller\Web\IndexController
        arguments: [ "@form.factory"]

    controller.web.auth:
        class: App\Controller\Web\AuthController
        arguments: [ "@service.session", "@model.user", "@service.mail" ]

    controller.web.sharetoall:
        class: App\Controller\Web\SharetoallController
        arguments: [ "@service.session", "@model.user", "@service.mail" ]

    controller.web.redirect:
        class: App\Controller\Web\RedirectController
        arguments: [ "@service.session", "@model.factory", "@service.twitter"]
