#login-form {
    width: 500px;
    margin: 0 auto;

    .field-block {
        margin-bottom: 16px;
    }

    .form-title {
        margin-bottom: 32px;
    }

    &-submit {
        margin-bottom: 24px;
    }

    &-forgot-url {
        font-size: 16px;
        line-height: 16px;
        text-align: center;
    }
}
