{% extends 'root.twig' %}

{% block content %}
    <div class="login-page__form-container">
        <div class="auth-manager__container">
            <div class="login-form"><h1 class="login-form__title">Sharetoall: Filmmaker</h1>
                {% if user_id %}

                    <form id="login" class="form-signin" role="form" method="post" ref="form" action="/auth/logout">
                        <input type="hidden" name="session_token" value="{{ session_token }}" v-model="session_token" ref="session_token" />
                        <h2 class="form-signin-heading">Logged in as {{ firstname }}</h2>
                        <button type="button" @click="logout" class="btn btn-lg btn-primary btn-block">Logout</button>
                    </form>

                {% else %}

                    <form class="form-signin" role="form" id="login" method="post" name="login_form" action="/auth/login" ref="form" @keyup.enter="login">
                        <input type="hidden" name="session_token" value="{{ session_token }}" v-model="session_token" ref="session_token" />
                        {% if error %}
                            <div class="alert alert-danger">
                                <strong>{{ error }}</strong>
                            </div>
                        {% endif %}
                        <div class="field-block "><label class="field-block__label" for="email">Your
                                email</label><!-- react-empty: 279 --><input type="text" name="email" id="email"
                                                                             value="" class="text-input" v-model="email"></div>
                        <div class="field-block "><label class="field-block__label" for="email">Your
                                password</label><!-- react-empty: 283 --><span class="password-input"><input
                                        type="password" name="password" id="password" value=""
                                        class="password-input__input " v-model="password"><span
                                        class="password-input__icon-wrapper">
                                            <p class="login-form__paragraph"><span>Forgot your password?</span>

                            <a href="/auth/reset" class="login-form__link">Click here.</a></p>
                        <button type="button" class="login-form__submit button button--primary button--normal" @click="login">Sign In:
                            Filmmaker
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
