{% extends 'root.twig' %}

{% block content %}

<div id="app">
    <div v-if="!$data" class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
    <div v-cloak>
        <v-app light>
            <v-toolbar dense app clipped-left fixed>
                <h1><a href="/" class="black--text" title="home"><img class="hidden-xs-only" src="/assets/img/logo.png">Share<span class="accent-color">to</span>all<small class="beta hidden-xs-only">beta</small></a></h1>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn flat color="secondary" v-if="connected" href="/sharetoall">Dashboard</v-btn>
                    <v-btn flat color="secondary" v-if="connected" @click.native="logout()">Logout</v-btn>
                    <v-btn flat color="secondary" v-if="!connected" @click.native="loginModal = true">Login</v-btn>
                    <v-btn flat color="secondary" v-if="!connected" @click.native="registerModal = true">Registration</v-btn>
                    <v-btn flat color="secondary" id="button-contact"  @click.native="contactModal = true">Contact</v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-content>
                <v-flex xs4 offset-xs4 id="about-container" class="pa-3 mt-3">
                    <h1 class="mb-5 mt-4 display-1 text-xs-center">Welcome to Sharetoall</h1>

                    <p>I am very pleased you are here!</p>
                    <p>Let me introduce myself: I am <a href="https://www.google.com/search?q=matthieu+cneude" title="google matthieu cneude">Matthieu Cneude</a>, web developer and creator of Sharetoall.</p>

                    <p>Now you might wonder: why did I create this service?</p>

                    <p>Imagine that you found a very interesting piece of knowledge on Internet. Naturally you want to share it to a maximum of people.
                    <p>To do so you would need to:
                        <ol>
                            <li>Go to every single social media you have an account on.</li>
                            <li>Share the helpful information you found.</li>
                            <li>Hope that you won't stay on them procrastinating.</li>
                        </ol>
                    </p>
                    <p>A bit tedious, isn't it?</p>

                    <p>I think the principle of social media is great: sharing to people valuable and helpful pieces of knowledge.</p>

                    <p>However, social media have some problems:</p>
                    <ul>
                        <li>They are engineered to hook you on their website.</li>
                        <li>They are totally addictive.</li>
                        <li>They will try to sell a maximum via advertisements and other tricks.</li>
                    </ul>

                    <p>Sharetoall is an answer to those frustrations. A free and simple platform to share on social media without any hooks.</p>

                    <p>More and more functionalities will be added keeping these goal in mind.</p>

                    <p>If you want to know more about me, you can easily send me a message via the contact form.</p>

                    <v-btn
                        href="https://www.patreon.com/sharetoall"
                        class="accent white--text subheading mt-5"
                        dark
                        large>
                        Become a Patron
                    </v-btn>
                </v-flex>
                {% include 'web/modals/login.twig' %}
                {% include 'web/modals/resetPassword.twig' %}
                {% include 'web/modals/register.twig' %}
                {% include 'web/modals/contact.twig' %}
            </v-content>
        </v-app>
    </div>
</div>
{% endblock %}
