{% extends 'root.twig' %}

{% block content %}

<div id="app">
    <div v-if="!$data" class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
    <div v-cloak>
        <v-app light>
            <v-toolbar dense app clipped-left fixed>
                <h1><a href="/" class="black--text" title="home"><img src="/assets/img/logo.png">Sharetoall <small>beta</small></a></h1>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn flat color="secondary" v-if="connected" href="/sharetoall">Dashboard</v-btn>
                    <v-btn flat color="secondary" v-if="connected" @click.native="logout()">Logout</v-btn>
                    <v-btn flat color="secondary" v-if="!connected" @click.native="loginModal = true">Login</v-btn>
                    <v-btn flat color="secondary" v-if="!connected" @click.native="registerModal = true">Register</v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-content>
                <v-flex xs4 offset-xs4 id="about-container" class="pa-3 mt-3">
                    <h1>Why Sharetoall?</h1>
                    <h2>Sharing is caring</h2>

                    <p>Imagine that you want to share to all your contact accross social media a very interesting piece of knowledge. <br /> In order to do so, you will need to :
                    <ol>
                        <li>Go to every single social media you have an account on</li>
                        <li>Share</li>
                        <li>Hope that you won't stay on them procrastinating</li>
                    </ol>

                    <p>I think the principle of social media is great: share to people who trusts you.</p>

                    <p>However, social media are not exempt of problems:</p>
                    <ul>
                        <li>They keep and even sell your private data</li>
                        <li>They are engineered to hook you on their website. <br />They are totally addictive.</li>
                    </ul>

                    <p>Sharetoall is an answer to those frustrations. A free and simple plateform to share on social media without any hooks.</p>

                    <p>More and more functionalities will be added keeping this goal in mind.</p>

                    <p>Since I work on this website on my free time, <a href="https://www.patreon.com/sharetoall">any donation are welcome!</a> It will help me bringing this website forward.</p>

                    <p>What is better than feeling useful?</p>
                </v-flex>
                {% include 'web/modals/login.twig' %}
                {% include 'web/modals/resetPassword.twig' %}
                {% include 'web/modals/register.twig' %}
            </v-content>
        </v-app>
    </div>
</div>
{% endblock %}
