<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
    <p>
        A new user wrote you a message via Sharetoall contact email!
    </p>

    <p>
        Email: {{ email }}
    </p>

    <div>
        Message:
    </div>

    <div>
        {{ message }}
    </div>
</html>
