// Main
$c-white: #ffffff;
$c-black: #000000;
$c-black-hover: #7f7f7f;

$c-primary: #ffeb00;
$c-primary-disabled: #fff57f;
$c-primary-hover: #e3d100;

$c-secondary: #f4d40d;
$c-secondary-disabled: #faea86;
$c-secondary-hover: #cfb40a;

$c-primaryCTA: #fe004c;
$c-primaryCTA-disabled: #ff7fa5;
$c-primaryCTA-hover: #e40044;

$c-secondaryCTA: #ff575c;
$c-secondaryCTA-disabled: #ffabad;
$c-secondaryCTA-hover: #f24e53;

$c-success: #71d774;
$c-success-disabled: #b8ebb9;
$c-success-hover: #62bf65;

$c-warning: #fcbd39;
$c-warning-disabled: #fede9c;
$c-warning-hover: #e3aa31;

$c-error: #ff3d3d;
$c-error-disabled: #c8000a;
$c-error-hover: #ff9d9d;

$c-info: #49aff5;
$c-info-disabled: #a4d7fa;
$c-info-hover: #2a7fca;

// Greyscale tones
$c-grey100: #f1f1f1;
$c-grey100-hover: #f8f8f8;
$c-grey200: #c8c8c8;
$c-grey200-hover: #e4e4e4;
$c-grey300: #767676;
$c-grey300-hover: #bababa;
$c-grey400: #4d4d4d;
$c-grey400-hover: #a6a6a6;
$c-grey500: #151515;
$c-grey500-hover: #8a8a8a;
$c-grey600: #111111;
$c-grey600-hover: #888888;

// Layout
$bg-layout: $c-grey100;
